*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.holder {
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: center;
    padding-top: 3rem;
    position: absolute;
    top: 20%;
    z-index: 100;
}
  
.box {
    width: 300px;
    height: 300px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  
.container {
    height: 15px;
    width: 105px;
    display: flex;
    position: relative;   
    z-index: 101;
}

.container .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    animation: move 500ms linear 0ms infinite;
    margin-right: 30px;
}

.container .circle:first-child {
    position: absolute;
    top:0;
    left:0;
    animation: grow 500ms linear 0ms infinite;
}
    
.container .circle:last-child {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
    animation: grow 500ms linear 0s infinite reverse;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
  
@keyframes grow {
from {transform: scale(0,0); opacity: 0;}
to {transform: scale(1,1); opacity: 1;}
}
  
@keyframes move {
from {transform: translateX(0px)}
to {transform: translateX(45px)}
}