.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.informationDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 10px 0;
}

.informationDiv.right {
  align-items: flex-end;
  justify-content: right;
}

.informationDiv .title {
  border: 2px solid #f7da17;
  background-color: #f7da17;
  text-transform: uppercase;
  margin: 0;
  padding: 8px;
  width: 35%;
}

.informationDiv .info {
  border: 2px solid #f7da17;
  margin: 0;
  padding: 8px;
  width: 100%;
}