.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.hide {
display: none;
}

.spacing {
  margin: 0 1rem;
}

.textarea {
  width: 80%;
  height: 150px;
  padding: 32px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  resize: none;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

form {
  margin-top: 0px;
}

.informationDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 10px 0;
  
}

.informationDiv.right {
  align-items: flex-end;
  justify-content: right;
}

.informationDiv .title {
  border: 2px solid #f7da17;
  background-color: #f7da17;
  text-transform: uppercase;
  margin: 0;
  padding: 8px;
  width: 35%;
  -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1607843137254902);
    -moz-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1607843137254902);
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1607843137254902);
}

.informationDiv .info {
  border: 2px solid #f7da17;
  margin: 0;
  padding: 8px;
  width: 100%;
  -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1607843137254902);
    -moz-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1607843137254902);
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1607843137254902);
}

/*=======================================
        Media Queries Styles
=======================================*/

/*== 1920px Media Queries Styles ==*/

@media screen and (max-width: 1920px) and (min-width: 1440px) {
  .container {
      margin-top: 3rem;
  }
}

/*== 1440px Media Queries Styles ==*/

@media screen and (max-width: 1440px) and (min-width: 1024px){}

/*== 1024px Media Queries Styles ==*/

@media screen and (max-width: 1024px) and (min-width: 768px){}

/*== 768px Media Queries Styles ==*/

@media screen and (max-width: 768px) and (min-width: 425px){}

/*== 425px Media Queries Styles ==*/

@media screen and (max-width: 425px) and (min-width: 375px) {
  .container {
      margin-top: 0.5rem;
  }
}

/*== 375px Media Queries Styles ==*/

@media screen and (max-width: 375px) and (min-width: 320px){
  .container {
      margin-top: 0.5rem;
  }
}

/*== 320px Media Queries Styles ==*/

@media screen and (max-width: 320px) {
  .container {
      margin-top: 0.5rem;
  }
}